{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <h1>Member</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ member.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ member.description }}</td>
            </tr>
            <tr>
                <th>pastas</th>
                <td>
                    {% for pasta in member.pasta %}
                    <li><a href="{{ path('pasta_show', {'id' : pasta.id}) }}">{{ pasta }}</li>
                    {% endfor %}
                </td>
            </tr>
            <th>placards</th>
            <td>
                {% for placard in member.placard %}
                    <li><a href="{{ path('app_placard_show', {'id' : placard.id}) }}">{{ placard }}</li>
                {% endfor %}
            </td>
            </tr>
        </tbody>
    </table>

    <li><a href="{{ path('app_placard_new', {'id': member.id}) }}">add new placard</a></li>

    <li><a href="{{ path('app_pasta_new', {'id': member.id}) }}">add new pasta</a></li>

    <li><a href="{{ path('app_member_index') }}">back to list</a><li/>

    <il><a href="{{ path('app_member_edit', {'id': member.id}) }}">edit</a><li/>

    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
