{% extends 'base.html.twig' %}

{% block title %}Placard index{% endblock %}

{% block body %}
    <h1>Placard index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Publiée</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for placard in placards %}
            <tr>
                <td>{{ placard.id }}</td>
                <td>{{ placard.description }}</td>
                <td>{{ placard.publiee ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_placard_show', {'id': placard.id}) }}">show</a>
                    <a href="{{ path('app_placard_edit', {'id': placard.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
